:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  margin-left: 0;
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background-color: #ffffff;
}

:host:has(app-sidebar .sidebar.visible) .main-content {
  margin-left: 16rem;
}

:host-context(.dark) .main-content {
  background-color: #111827;
  color: #e2e8f0;
}

@media (max-width: 768px) {
  :host:has(app-sidebar .sidebar.visible) .main-content {
    margin-left: 0;
  }

  .main-content {
    margin-top: 0;
  }
}
